<div class="profile" [style.backgroundImage]="'url(' + backgroundUrl + ')'">

  <header>
    <div class="top-bar">
      <div class="logo">
        <img src="assets/logo1.png" height="60" width="80" alt="Logo">
      </div>

      <nav class="nav-links">
        <a routerLink="">Početna</a>
        <span class="divider">|</span>
        <a routerLink="/questions">Pitanja</a>
        <span class="divider">|</span>
        <a routerLink="/about">O nama</a>
        <span class="divider">|</span>
        <a routerLink="/requests">Zahtjevi</a>
        <span class="divider">|</span>
        <a routerLink="/donations">Donacije</a>
      </nav>

      <div class="user-menu" *ngIf="isLoggedIn">
        <img
          src="{{ shelter?.imageUrl }}"
          alt="User Avatar"
          class="user-avatar"
          tabindex="0"
        />
        <div class="dropdown-menu">
          <a routerLink="/shelter/profile">Profil</a>
          <a routerLink="/logout">Odjavi se</a>
        </div>
      </div>
    </div>
  </header>

  <div class="profile-page">
    <div class="profile-header">
      <div class="profile-image">
        <img src="{{ shelter?.imageUrl }}"
             alt="Profilna slika"

             class="clickable-profile-image"
        />


      </div>





      <div class="profile-details">
        <h1>{{ shelter?.name }}</h1>
        <p class="username">{{ shelter?.username }}</p>
        <p class="owner">Vlasnik: {{ shelter?.owner }}</p>
        <p class="email">Email: {{ shelter?.email }}</p>
        <p class="phone">Telefon: {{ shelter?.phoneNumber }}</p>
        <p class="city">Grad: {{  getCityName(shelter?.cityId) }}</p>
        <p class="address">Adresa: {{ shelter?.address }}</p>
        <p class="year-born">Godina osnivanja: {{ shelter?.yearFounded }}</p>

      </div>
        <div #map class="map-container"></div>


        <div class="action-buttons">
        <button class="edit-profile-btn"(click)="openEditProfileModal()">Uredi profil</button>
        <button class="delete-profile-btn" (click)="confirmDeleteProfile()">Obriši profil</button>
      </div>
    </div>






    <ng-template #loading>
      <p>Učitavanje korisničkih podataka...</p>
    </ng-template>

    <div class="profile-navigation">
      <button
        class="nav-btn"
        [class.active]="activeTab === 'posts'"
        (click)="switchTab('posts')"
      >
        Moje objave
      </button>
      <button
        class="nav-btn"
        [class.active]="activeTab === 'favorites'"
        (click)="switchTab('favorites')"
      >
        Favoriti
      </button>
      <button
        class="nav-btn"
        [class.active]="activeTab === 'requests'"
        (click)="switchTab('requests')"
      >
        Zahtjevi za udomljavanje
      </button>
    </div>

    <div class="profile-content">
      <!-- Prikaz komponente za "Moje objave" -->
      <div *ngIf="activeTab === 'posts'" class="tab-content">
        <div class="posts">
          <app-adoption-post></app-adoption-post> <!-- Premješteno ovdje -->
        </div>
      </div>
      <div *ngIf="activeTab === 'favorites'" class="tab-content">
        <div class="favorites">
          <app-favorites></app-favorites>
        </div>
      </div>
      <div *ngIf="activeTab === 'requests'" class="tab-content">

        <div class="body">
          <div *ngIf="requests.length === 0" class="no-requests">
            Nemate zahtjeva za udomljavanje!
          </div>
          <div *ngIf="requests.length >0"  class="table-container" >
            <table>
              <thead>
              <tr>
                <th>Ime životinje</th>
                <th>Vrsta životinje</th>
                <th>Datum</th>
                <th>Pogledaj zahtjev</th>
                <th>Prihvati</th>
                <th>Odbij</th>
              </tr>
              </thead>
              <tbody #tableBody>

              <tr *ngFor="let request of requests">
                <td>{{ request?.animalName }}</td>
                <td>{{ request?.animalType }}</td>
                <td>{{ request?.date | date:'dd/MM/yyyy' }}</td>

                <td>
                  <button class="action-btn view-btn" (click)="viewRequest(request.id)">Pogledaj</button>
                </td>
                <td>
                  <button
                    class="action-btn accept-btn"
                    (click)="acceptRequest(request.id)"
                    [disabled]="request.isAccepted"
                  >
                    <span class="icon">✔</span>
                    <span>Prihvati</span>
                  </button>
                </td>
                <td>
                  <button
                    class="action-btn reject-btn"
                    (click)="rejectRequest(request.id)"
                    [disabled]="request.isAccepted"
                  >
                    <span class="icon">✖</span>
                    <span>Odbij</span>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
