<div class="register">
  <div class="container">
    <div class="image-section">

      <img src="assets/pexels-catscoming-1359307.jpg" alt="Ilustracija" />
    </div>
    <div class="form-section">
      <h1>Dobrodošli na Šapicu!</h1>
      <p>
        Da biste nastavili, izaberite opciju koja Vam odgovara.

      </p>
      <div class="buttons">
        <button (click)="navigateTo('users/add')">Registracija za korisnika</button>
        <button (click)="navigateTo('shelters/add')">Registracija za azil</button>
      </div>
    </div>
  </div>
</div>

