<div class="dashboard-container">
  <!-- Dugme za odjavu -->
  <button class="logout-button" routerLink="/logout">🚪 Odjavi se</button>

  <h1 class="dashboard-title">Admin Dashboard</h1>

  <div class="dashboard-cards">
    <div class="card">
      <div class="card-icon">👤</div>
      <h2>Korisnici</h2>
      <p>Pregled i upravljanje korisnicima.</p>
      <a routerLink="/users" class="card-button">Pogledaj</a>
    </div>

    <div class="card">
      <div class="card-icon">🏠</div>
      <h2>Azili</h2>
      <p>Pregled i upravljanje azilima.</p>
      <a routerLink="/shelters" class="card-button">Pogledaj</a>
    </div>

    <div class="card">
      <div class="card-icon">🐶</div>
      <h2>Objave</h2>
      <p>Pregled i upravljanje objavama.</p>
      <a routerLink="/adoptionPosts/admin" class="card-button">Pogledaj</a>
    </div>
  </div>
  
</div>
